:root {
	--mainBlue: #4A90E2;
  	--darkBlue: #3D7AC1;
  	--hoverBlue: #549FF7;
}

html, body, #root {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-primary {
	border: 0px;
	background-color: var(--mainBlue);
}

.btn-primary:hover {
	border: 0px;
	background-color: var(--hoverBlue);
}

h1 {
	color: var(--mainBlue);
}