.accounts .accountNumber{
	width: 7em;
}

.accounts .name{
    width: auto;
	flex-grow: 1;
}

.accounts .type {
    width: 9em;
}

.accounts .subtype {
    width: 13em;
}

.accounts .term {
    width: 35px;
}

.accounts .comments {
    width: 20px;
}

.accounts .edits{
	width: 40px;
}

.accounts .sorter {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 0.5em;
    padding: 0.25em;
}

.accounts .sorter:hover {
    border: 1px solid #ccc;
}

.accounts .sorter-inactive {
    color: #CCC;
}
