h1 {
	color: #4A90E2;
	font: Helvetica;
	font-weight: bold;

}

.addToChartOfAccounts .createButton {
	height: 35px;
	width: 80px;
	border: 1px solid #979797;
	background-color: #4A90E2;
	border-radius: 8px;
	margin-left: 20px;
}