.chartOfAccounts .titleBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 40px;
}

.chartOfAccounts h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #4A90E2;
}

.titleBar .filler {
	flex-grow: 1;
}

.chartOfAccounts .newButton {
	height: 35px;
	width: 80px;
	border: 1px solid #979797;
	background-color: #4A90E2;
	border-radius: 8px;
	margin-left: 20px;
}

.chartOfAccounts .newButton .navLink {
	color: white;
}

.chartOfAccounts .search {
	width: 16em;
}

.chartOfAccounts .searchContainer {
	display: flex;
	flex-direction: row;
}

.chartOfAccounts .search-container {
  float: right;
}

.chartOfAccounts .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.chartOfAccounts .tableWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tableWrapper .table {
	width: 90%;
}

.table .accountNumber{
	width: 20px;
}

.table .name{
	width: 140px;
}

.table .initialBalance{
	width: 20px;
}

.table .isActive{
	width: 20px;
}