.titleBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 3rem;
	margin-bottom: 20px;
	margin-left: 3rem;
	margin-right: 3rem;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.titleBar .filler {
	flex-grow: 1;
}

.newButton {
	margin-left: 20px;
	margin-right: 20px;
}

.backButton {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 100px;
	margin-top: 30px;
}

 .search {
	width: 8em;
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
}

 .searchContainer {
	display: flex;
	flex-direction: row;
	float: right;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }

 .tableWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tableWrapper .table {
	width: var(--tableWidth);
}

.tableWrapper table > thead > tr > th {
	white-space: nowrap;
}
