.titleBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 45px;
	margin-right: 20px;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.titleBar .filler {
	flex-grow: 1;
}

 .newButton {
	margin-left: 20px;
	margin-right: 20px;
}

 .search {
	width: 8em;
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
}

 .searchContainer {
	display: flex;
	flex-direction: row;
	float: right;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }

 .tableWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tableWrapper .table {
	width: var(--tableWidth);
}

.chartOfAccounts .accountNumber {
    width: 4em;
}

.chartOfAccounts .sorter {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 0.5em;
    padding: 0.25em;
}

.chartOfAccounts .sorter:hover {
    border: 1px solid #ccc;
}

.chartOfAccounts .sorter-inactive {
    color: #CCC;
}
