.journalEntryCreate {
	background-color: #F6F6F6;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.fileInput {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -8px;
}

.typeSelect {
	margin-top: 10px;
}

.newJournalEntryTitle {
	font-size: 16px;
	margin-bottom: 10px;
}