.Login .ledgible-accounting-logo {	
	height: 460px;	
	width: 566px;
}

.Login .username-text-field {
	height: 60px;	
	width: 400px;
}

.Login .username {	
	height: 30px;	
	width: 266px;	
	color: #9B9B9B;	
	font-family: Helvetica;	
	font-size: 25px;
	line-height: 30px;
}

.Login .background-color {	
	height: 60px;	
	width: 400px;	
	border-radius: 10px;	
	background-color: #FFFFFF;	
	box-shadow: 0 2px 15px 0 #FFFFFF;
}

.Login .password-text-field {	
	height: 5.86%;	
	width: 27.78%;
}

.Login .password {	
	height: 30px;	
	width: 266px;	
	color: #9B9B9B;	
	font-family: Helvetica;	
	font-size: 25px;	
	line-height: 30px;
}