.Login {
    background-color: #4A90E2;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    padding-bottom: 80px;
  }
  
  .Login-logo {
    height: 160px;
    margin-bottom: 20px;
  }

  .Spacer{
    margin: 8px;
  }

  .input{
    width: 18em;
    border-radius: 6px;
    border-style: none;
    padding: 6px;
  }

  .button{
    border-radius: 6px;
    padding: 6px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 18em;
  }