.logs .changed{
	width: 200px;
}

.logs .change-fieldName,
.logs .change-fromValue,
.logs .change-toValue,
.logs .change-Wrapper {
    width: 10em;
}

.logs .change-Wrapper {
    display: table-cell;
    min-width: 10em;
    max-width: 10em;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.logs .table > tbody > tr > td {
    padding-top: 1em;
    padding-bottom: 1em;
}

.logs .table td[colspan="3"] {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.logs .table .list-group-item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    background-color: inherit;
    margin-bottom: 0;
}

.logs .table .list-group-item:first-of-type {
    border-top: 0;
    padding-top: 0;
}

.logs .changedBy {
	width: 10em;
}

.logs .sorter {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 0.5em;
    padding: 0.25em;
}

.logs .sorter:hover {
    border: 1px solid #ccc;
}

.logs .sorter-inactive {
    color: #CCC;
}
