.retained-earnings-statement {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.title-heading {
	background-color: var(--darkBlue);
	border-radius: 5px;
	color: white;
	margin-bottom: 20px;
	padding: 10px;
}

.retained-earnings-statement .income-statement-main-heading {
	font-size: 26px;
}

.retained-earnings-statement .business-name {
	font-size: 18px;
    margin-top: 1rem;
}

.retained-earnings-statement .as-of-date {
	font-size: 16px;
    margin-top: 1rem;
}

.retained-earnings-statement-table {
	width: 90%;
}

.retained-earnings-statement h1.retained-earnings-statement-main-heading {
    color: black;
}

.retained-earnings-statement h2.business-name {
    margin-top: 1rem;
}


.retained-earnings-statement th, td {
    padding: 12px;
}

.subjectTitle {
	font-size: 16px;
}
