.Sidebar {
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    background-color: var(--mainBlue);
}

.Sidebar .sidebar-heading {
    text-align: center;
    color: white;
    padding-top: 10px;
    margin-bottom: 10px;
}

.sidebar-logo {
    width: 280px;
}

.Sidebar .sidebar-footing {
    padding-bottom: 10px;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: var(--darkBlue);
}

.stack {
    font-size: 17px;
}

.user-logo {
    width: 50px;
}

.userText {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 200;
}

.user-heading {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logoutButton {
    margin-bottom: 0px;
}

.Sidebar .sidebar-heading .user-heading {
    margin-top: 0;
}

.Sidebar .nav.nav-stacked li {
    margin-top: 0;
}

.Sidebar .nav [href] {
    color: white;
    width: 80%;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    padding-left: 40px;
}

.Sidebar .nav [href]:hover {
    color: white;
    background-color: var(--hoverBlue);
}

.Sidebar .nav [href].active {
    background-color: var(--darkBlue);
    color: white;
}
