.userForm {
	height: 100%;
}

.userForm .createButton {
	height: 35px;
	width: 80px;
	margin-left: 65px;
	margin-top: 25px;	
}

.userForm .initialBalanceTextField {
	width: 8em;
}

.usersActiveCheckBox {
	height: 25px;
	width: 25px;
}

.userForm .textBox {
	width: 60em;
}

.textColumn {
	float: left;
	width: 310px;
	padding: 5px 80px;
	left: 10px;
}

.fieldColumn {
	float: left;
	width: 530px;
}

.row {
	height: 65px;
}

.container {
	display: flex;
	height: 65px;
}

.fillSpace {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	height: 150px;
}

.userForm .backButton {
	margin-left: 65px;
}

input.currency {
    text-align: right;
}
